#note{
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  color: black !important;
  padding: 5px 15px 15px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000 !important;
  box-shadow: 3px 6px 9px -5px rgba(0,0,0,0.75);
  pointer-events: all;
 background: linear-gradient(135deg, rgba(255,221,0,1) 0%, rgba(255,221,0,1) 50%, rgba(255,221,0,1) 51%, rgba(252,206,20,1) 92%, rgba(240,195,17,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd00', endColorstr='#f0c311', GradientType=1 );
 cursor:url(http://www.cristalab.com/images/cursor_personalizado.cur);
}

#paper{
  position: relative;
  border: none;
  font-family: "Comic Neue" !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  width: 180px !important;
  height: 180px !important;
  background: transparent;
  width: 90%;
  height: 90%;
  background: #EEEEEE;
  resize: none !important;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  color: black !important;
  cursor: pointer;
}
#paper:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
#paper::-webkit-scrollbar {
    width: 2px;     /* Tamaño del scroll en vertical */
    height: 2px;    /* Tamaño del scroll en horizontal */
      /* Ocultar scroll */
}
#paper::-webkit-scrollbar-thumb {
    background: #ccc222;
    border-radius: 4px;
    margin-left: 5px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
#paper::-webkit-scrollbar-thumb:hover {
    background: #b3b333;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);

}

/* Cambiamos el fondo cuando esté en active */
#paper::-webkit-scrollbar-thumb:active {
    background-color: #992999;
}
#tack{
  margin-bottom: 1px;
  width: 20px;
  height: 20px;
  background: #443556;                                                                           (50deg);
  border-radius: 50%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 8px -5px black;
  background: radial-gradient(ellipse at center, rgba(217,70,70,1) 0%, rgba(240,26,26,1) 46%, rgba(209,25,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d94646', endColorstr='#d11919', GradientType=1 );
}  
