#noteEx0A{
  display: flex;
  position: relative;
  padding: 5px 15px 15px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 6px 9px -5px rgba(0,0,0,0.75);
  transform: skew(0.3deg);
}
#areaEx0A{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(23,233,233,0.0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8000;
  top: 0;
  left: 0;
}
#noteEx0A #paperEx0A{
  position: relative;
  border: none;
  font-size: 30px;
  font-family: "Comic Neue", "Comic Sans", cursive, !important;
  font-weight: 600 !important;
  width: 180px !important;
  height: 180px !important;
  background: transparent;
  resize: none !important;
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  cursor: pointer;
}
#noteEx0A #paperEx0A::-webkit-scrollbar {
    width: 2px;     /* Tamaño del scroll en vertical */
    height: 2px;    /* Tamaño del scroll en horizontal */
      /* Ocultar scroll */
}
#noteEx0A #paperEx0A::-webkit-scrollbar-thumb {
    background: #EEEEEE;
    border-radius: 4px;
    margin-left: 5px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
#noteEx0A #paperEx0A::-webkit-scrollbar-thumb:hover {
    background: white;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
#noteEx0A #paperEx0A::-webkit-scrollbar-thumb:active {
    background-color: #333;
}
#noteEx0A #tackEx0A{
  margin-bottom: 1px;
  width: 20px;
  height: 20px;
  background: #443556;                                                                          
  border-radius: 50%;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 8px -5px black;
  background: #EA2027;
} 
#noteEx0A #removeEx0A{
  width: 40px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

#noteEx0A #removeEx0A:hover::after{
  width: 40px;
  height: 30px;
  cursor: pointer;
  content: "\d7"; /* use the hex value here... */
  font-size: 20px; 
  color: #FFF;
  line-height: 30px;
  text-align: center;
}
