
#toolbar{
	background: #ecf0f1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	font-family: 'NeueR';
	overflow: hidden;
	padding: 5px;
}
#hiddenNotes{
	
	width: 26px;
}
#deleteNotes{
	position: absolute;
	top: 2px; 
	left: 2px;
	background-image: url('src/img/del.png');
}
.icon{
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	background-attachment: all;
	transition: all .1s ease-in-out;
	margin: 0px 5px;
}
.icon:active{
	-webkit-background-size: 22px;
	background-size: 22px;
}
button{
	width: 23px;
	height: 23px;
	border: none;
	background: none;
	border-radius: 50%;
	padding: 3px;
	outline:none !important;
	outline-width: 0 !important;
	box-shadow: none !important;
	cursor: pointer;
}
#barOptions{
	transition: all 1s ease-in-out !important;
	width: 100%;
	height: auto;
	background:#2f3640;
	margin-bottom: 10px;
	font-stretch: expanded;
	font-size: 15px;
	color: white;
	text-align: left;
	padding: 2px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	top: 0;
	border-bottom: solid 1.5px #353b48;
	z-index: 10;
}
.logo{
	background-image: url('src/img/noteeasy.png'); 
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#miniNote{
	width: 70px;
	height: 70px;
	background: #f1c40f;
	font-family: 'NeueB';
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0px 5px 8px -5px black;
	transition: all .1s ease-in-out;
	list-style: none;
	margin-top: 35px;
}

#miniNote .tack{
	width: 5px;
	height: 5px;
	background: #E50909;
	border-radius: 50%;
	position:absolute;
	top: 5px;
}
.falseLetter{
	width: 70%;
	height: 4px;
	background: #000;
	top: 18px;
	position: absolute;
}
.firstFL{
	top: 28px;
}
.twoFL{
	top: 36px;
}
.thirdFL{
	top: 44px;
}
.fourFL{
	top: 52px;
	width: 40%;
	left: 11px;
}
#styleNote{
	display: flex;
	padding: 10px 0 0 0;
	justify-content:center;
	align-items: center;
	list-style: none;
}
#miniNote:hover{
	transition: all .1s ease-in-out;
	cursor: pointer;
	transform: rotate(-3deg);
}
#miniNote:active{
	transform: scale(1.05);
}
#styleNote li{
	background: #000;
}
.prefered{
	border-radius: 50%;
	border:solid 1px black;
	width: 10px;
	height: 10px;
	margin: 2px;
	flex-shrink: 0;
	margin-bottom: 5px;
	cursor: pointer;
}
#styleNote .tack{
	width: 5px;
	height: 5px;
	background: #E50909;
	border-radius: 50%;
}

.prefered:hover{
	transform: scale(1.4);
	transition: all .1s ease-in-out;
}
#deleteMenu{
	display: none;
	font-family: "NeueB";
	font-size: 12px;
	position: absolute;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}
#deleteMenu div{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	padding-left: 8px;
	padding-top: 5px;
}

#deleteMenu div label{
	margin: 0 5px;
}
#deleteMenu #msgBottom{
	font-family: "NeueB";
	font-size: 12px;
	position: absolute;
	right: -30px;
	top: -38px;
}
#barOptions #bubbleInfo{
	text-align: center;
	width: 90%;
	height: 0;
	background: #EA2027;
	position: absolute;
	border-radius: 10px;
	font-size: 10px;
	right: 3px;
	transition: all .1s ease-in-out;
	padding: 0px;
}
