#toolbar{
	background:#ecf0f1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	font-family: 'NeueR';
	overflow: hidden;
	padding: 5px;
}
#hiddenButton{
	width: 26px;
	transition: all .1s ease-in-out;
	background: transparent;
}
i{
	color: white;
}
button{
	width: 23px;
	height: 23px;
	border: none;
	border-radius: 50%;
	padding: 3px;
	outline:none !important;
	outline-width: 0 !important;
	box-shadow: none !important;
	cursor: pointer;
	background: none;
}
#barOptions{
	transition: all 1s ease-in-out !important;
	width: 100%;
	height: auto;
	background:#353b48;
	margin-bottom: 10px;
	font-stretch: expanded;
	font-size: 15px;
	color: white;
	padding: 2px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 0;
	border-bottom: solid 1.5px #353b48;
	z-index: 10;
}
#miniNote{
	width: 70px;
	height: 70px;
	background: #f1c40f;
	font-family: 'NeueB';
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0px 5px 8px -5px black;
	transition: all .1s ease-in-out;
	list-style: none;
	margin-top: 35px;
}
#miniNote .tack{
	width: 5px;
	height: 5px;
	background: #E50909;
	border-radius: 50%;
	position:absolute;
	top: 5px;
}
.falseLetter{
	width: 70%;
	height: 4px;
	background: #000;
	top: 18px;
	position: absolute;
}
.firstFL{
	top: 28px;
}
.twoFL{
	top: 36px;
}
.thirdFL{
	top: 44px;
}
.fourFL{
	top: 52px;
	width: 40%;
	left: 11px;
}
#styleNote{
	display: flex;
	padding: 10px 0 0 0;
	justify-content:center;
	align-items: center;
	list-style: none;
}
#miniNote:hover{
	transition: all .1s ease-in-out;
	cursor: pointer;
	transform: rotate(-3deg);
}
#miniNote:active{
	transform: scale(1.05);
}
#styleNote li{
	background: #000;
}
.prefered{
	border-radius: 50%;
	border:solid 1px black;
	width: 10px;
	height: 10px;
	margin: 2px;
	flex-shrink: 0;
	margin-bottom: 5px;
	cursor: pointer;
}
#styleNote .tack{
	width: 5px;
	height: 5px;
	background: #E50909;
	border-radius: 50%;
}
.prefered:hover{
	transform: scale(1.4);
	transition: all .1s ease-in-out;
}
#deleteMenu{
	display: none;
	font-family: "NeueB";
	font-size: 12px;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	position: absolute;
	width: 100%;
	background: #ecf0f1;
	bottom: 0;
	z-index: 9999;
	color: black;
	transition: all .2s ease-in-out;
}
#deleteMenu .opt{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	padding-left: 8px;
	padding-top: 5px;
}
#deleteMenu .opt label{
	margin: 0 5px;
}
#deleteConfirm{
	font-size: 11px;
	color: white;
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;
	padding: 3.5px;
	background: black;
	border-radius: 3px;
	box-shadow: 0px 5px 8px -5px black;
	transition: all .1s ease-in-out;
}
#deleteConfirm:hover{
	background: red;
}
.mini-btn i{
	margin:0 2px;
}
.mini-btn{
	text-align: center;
	font-size: 11px;
	color: white;
	display: flex;
	justify-content: space-around;
	width: auto;
	height: auto;
	padding: 3px;
	background: red;
	border-radius: 3px;
}
#upMenu{
	background:transparent;
	color: black;
} 

#contentDeleteButtons{
	width: 100%;
	display:flex;
	align-items: center; 
	justify-content: center;
	padding: 3px;
	margin-left: -5px;
}
#barOptions #bubbleInfo{
	text-align: center;
	width: 90%;
	height: 0;
	background: #EA2027;
	position: absolute;
	border-radius: 10px;
	font-size: 10px;
	right: 3px;
	transition: all .1s ease-in-out;
	padding: 0px;
}